<link rel="icon" href="/logoicon.png" type="image/png">
<style>
    @font-face {
        font-family: Sentex;
        src: url(.//fonts/Sentex/Sentex-Regular.ttf);
    }
    @font-face {
        font-family: BlenderPro;
        src: url(.//fonts/BlenderPro/BlenderPro-Medium.ttf);
    }
    body {
        margin: 0px;
        overflow-x: hidden;
        color: white;
        font-family: BlenderPro;
    }
    .overlayBg {
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        object-fit: cover;
    }
    .navbar {
        position: absolute;
        right: 1vw;
        top: 1vw;
        display: flex;
        margin: 1vw;
        border: 0.13vw solid #00ffff;
        font-family: BlenderPro;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 2% 100%, 0% 50%, 0 0);
    }
    .navitems {
        display: flex;
        transform-origin: right;
    }
    .navitem {
        padding: 0px 1vw;
        font-size: 0.9vw;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .navitem:after {
        content: "";
        display: block;
        background-color: #00ffff;
        clip-path: polygon(0 0, 10% 0, 100% 100%, 90% 100%);
        margin-left: 2vw;
        height: 2.2vw;
        width: 1.3vw;
    }
    .navbarkachoda {
        position: absolute;
        height: 2.4vw;
        width: 1.3vw;
        background-color: #00ffff;
        bottom: -1.25vw;
        left: -0.41vw;
        clip-path: polygon(31% 0, 100% 50%, 50% 100%, 0 50%);
    }
    .navitem:last-child:after {
        visibility: hidden;
        margin-left: 0.3vw;
    }
    .nav-2 {
        z-index: 21;
        filter: blur(13.699999809265137px);
    }
    a {
        color: white;
        text-decoration: none;
        transition: 0.2s;
    }
    a:hover {
        color: #00ffff;
    }
    .logo {
        position: absolute;
        top: 1vw;
        left: 1vw;
        width: 20vw;
        cursor: pointer;
        z-index: 100;
    }
</style>
<svg class="logo" viewBox="0 0 501 200" fill="none" xmlns="http://www.w3.org/2000/svg" onclick="window.location.href = '/'">
    <path d="M140.108 81.9581V73.2341L148.832 81.9581H140.108ZM131.384 55.7861L122.66 47.062H131.384V55.7861ZM122.66 81.9581V55.7861H131.384L140.108 64.5101V55.7861L148.832 47.062V73.2341H140.108L131.384 64.5101V73.2341L122.66 81.9581ZM162.123 81.9581L153.399 73.2341V55.7861H162.123V64.5101H170.847L162.123 73.2341H170.847L179.571 81.9581H162.123ZM170.847 64.5101V55.7861H162.123L153.399 47.062H170.847L179.571 55.7861L170.847 64.5101ZM192.861 81.9581L184.137 73.2341V55.7861H192.861V73.2341H201.585L210.309 81.9581H192.861ZM201.585 73.2341V55.7861H210.309V73.2341H201.585ZM192.861 55.7861L184.137 47.062H192.861V55.7861ZM210.309 55.7861L201.585 47.062H210.309V55.7861ZM232.324 81.9581V73.2341L241.048 81.9581H232.324ZM223.6 81.9581L214.876 73.2341V55.7861H223.6V64.5101L232.324 73.2341H223.6V81.9581ZM232.324 64.5101V55.7861H223.6L214.876 47.062H232.324L241.048 55.7861V64.5101H232.324ZM254.338 81.9581L245.614 73.2341V55.7861H254.338V73.2341H263.062L271.786 81.9581H254.338ZM263.062 73.2341V55.7861H254.338L245.614 47.062H263.062L271.786 55.7861V73.2341H263.062ZM285.077 81.9581L276.353 73.2341V55.7861H285.077V81.9581ZM293.801 81.9581V55.7861H302.525V73.2341L293.801 81.9581ZM289.439 64.5101L285.077 55.7861L289.439 51.424L293.801 55.7861L289.439 64.5101ZM285.077 55.7861L276.353 47.062H285.077V55.7861ZM293.801 55.7861V47.062H302.525L293.801 55.7861ZM315.815 81.9581L307.091 73.2341V55.7861H315.815V64.5101H324.539L315.815 73.2341H324.539L333.263 81.9581H315.815ZM324.539 64.5101V55.7861H315.815L307.091 47.062H324.539L333.263 55.7861L324.539 64.5101ZM355.278 81.9581V73.2341L364.002 81.9581H355.278ZM346.554 55.7861L337.83 47.062H346.554V55.7861ZM337.83 81.9581V55.7861H346.554L355.278 64.5101V55.7861L364.002 47.062V73.2341H355.278L346.554 64.5101V73.2341L337.83 81.9581ZM368.568 73.2341V55.7861H377.292V73.2341H368.568ZM368.568 81.9581L377.292 73.2341H386.016V55.7861H377.292L368.568 47.062H386.016L394.74 55.7861V73.2341L386.016 81.9581H368.568Z" fill="white"/>
    <circle cx="79.445" cy="66.0247" r="22.882" stroke="#00FFFF" stroke-width="4.64273"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M64.5054 45.3346C63.7147 43.6624 61.5151 43.2642 60.5896 44.8657C58.6134 48.2856 58.2932 52.587 60.1094 56.4281C62.0536 60.5399 65.959 63.0944 70.1795 63.5024C71.2849 63.6092 72.323 64.199 72.7977 65.203L84.0138 88.9243C85.1308 91.2867 87.9514 92.2963 90.3138 91.1793C92.6762 90.0623 93.6858 87.2417 92.5688 84.8793L81.3527 61.158C80.878 60.154 81.0809 58.9775 81.6997 58.0553C84.0627 54.5345 84.5667 49.8951 82.6225 45.7833C80.8063 41.9423 77.2789 39.4603 73.3818 38.8174C71.5568 38.5163 70.4687 40.4691 71.2594 42.1413L74.2107 48.3832C75.0925 50.2482 74.2955 52.475 72.4304 53.3568C70.5654 54.2387 68.3386 53.4417 67.4568 51.5766L64.5054 45.3346Z" fill="white"/>
    <path d="M84.4858 84.8854L89.4797 82.2381L90.9332 85.3122C91.5997 86.7218 90.9973 88.4047 89.5878 89.0712C88.1782 89.7377 86.4952 89.1353 85.8288 87.7257L84.4858 84.8854ZM79.7172 61.591L87.3239 77.6786L82.3479 80.364L74.6128 64.0046C73.7869 62.2579 72.0636 61.3759 70.4529 61.2202C66.8736 60.8743 63.5697 58.7094 61.9244 55.2297C60.3872 51.9788 60.6556 48.3385 62.3317 45.4379C62.3528 45.4015 62.3686 45.3841 62.3754 45.3775C62.3756 45.3773 62.3759 45.377 62.3761 45.3768C62.383 45.3763 62.3971 45.3761 62.4199 45.3794C62.5331 45.3954 62.742 45.4972 62.8699 45.7677L65.8213 52.0098C67.1537 54.8277 70.5181 56.0319 73.336 54.6996C76.1539 53.3672 77.3581 50.0028 76.0258 47.1849L73.0744 40.9429C72.9465 40.6725 73.0004 40.4464 73.0598 40.3487C73.0718 40.329 73.0809 40.3183 73.0856 40.3133C73.0859 40.3132 73.0863 40.3132 73.0866 40.3132C73.096 40.3121 73.1195 40.3109 73.161 40.3177L73.2689 39.6633L73.161 40.3177C76.4663 40.863 79.4499 42.9656 80.9869 46.2164C82.6322 49.6961 82.2089 53.6233 80.2049 56.6092C79.3032 57.9528 78.8913 59.8444 79.7172 61.591ZM66.3204 44.1362C65.6579 42.7352 64.3721 41.8012 62.9557 41.6004C61.4792 41.391 59.9081 42.0035 59.027 43.5282C56.7508 47.4673 56.3786 52.4298 58.4739 56.8612C60.7171 61.6055 65.2242 64.5494 70.0857 65.0193C70.6802 65.0768 71.0366 65.3704 71.1622 65.6361L82.3783 89.3572C83.9458 92.6725 87.904 94.0892 91.2193 92.5217C94.5345 90.9542 95.9513 86.9959 94.3837 83.6807L83.1677 59.9595C83.0421 59.6939 83.0413 59.232 83.3741 58.7361C86.0959 54.6806 86.6806 49.3291 84.4375 44.5849C82.3422 40.1537 78.2709 37.2923 73.7822 36.5518C72.0447 36.2652 70.5743 37.0908 69.7992 38.3648C69.0556 39.5869 68.9614 41.1734 69.6239 42.5744L72.5753 48.8164C73.0066 49.7286 72.6167 50.8177 71.7045 51.2491C70.7923 51.6804 69.7032 51.2905 69.2718 50.3783L66.3204 44.1362Z" fill="#00FFFF" stroke="#1E1E1E" stroke-width="1.32649"/>
    <g filter="url(#filter0_f_147_95)">
    <path d="M140.108 81.9581V73.2341L148.832 81.9581H140.108ZM131.384 55.7861L122.66 47.062H131.384V55.7861ZM122.66 81.9581V55.7861H131.384L140.108 64.5101V55.7861L148.832 47.062V73.2341H140.108L131.384 64.5101V73.2341L122.66 81.9581ZM162.123 81.9581L153.399 73.2341V55.7861H162.123V64.5101H170.847L162.123 73.2341H170.847L179.571 81.9581H162.123ZM170.847 64.5101V55.7861H162.123L153.399 47.062H170.847L179.571 55.7861L170.847 64.5101ZM192.861 81.9581L184.137 73.2341V55.7861H192.861V73.2341H201.585L210.309 81.9581H192.861ZM201.585 73.2341V55.7861H210.309V73.2341H201.585ZM192.861 55.7861L184.137 47.062H192.861V55.7861ZM210.309 55.7861L201.585 47.062H210.309V55.7861ZM232.324 81.9581V73.2341L241.048 81.9581H232.324ZM223.6 81.9581L214.876 73.2341V55.7861H223.6V64.5101L232.324 73.2341H223.6V81.9581ZM232.324 64.5101V55.7861H223.6L214.876 47.062H232.324L241.048 55.7861V64.5101H232.324ZM254.338 81.9581L245.614 73.2341V55.7861H254.338V73.2341H263.062L271.786 81.9581H254.338ZM263.062 73.2341V55.7861H254.338L245.614 47.062H263.062L271.786 55.7861V73.2341H263.062ZM285.077 81.9581L276.353 73.2341V55.7861H285.077V81.9581ZM293.801 81.9581V55.7861H302.525V73.2341L293.801 81.9581ZM289.439 64.5101L285.077 55.7861L289.439 51.424L293.801 55.7861L289.439 64.5101ZM285.077 55.7861L276.353 47.062H285.077V55.7861ZM293.801 55.7861V47.062H302.525L293.801 55.7861ZM315.815 81.9581L307.091 73.2341V55.7861H315.815V64.5101H324.539L315.815 73.2341H324.539L333.263 81.9581H315.815ZM324.539 64.5101V55.7861H315.815L307.091 47.062H324.539L333.263 55.7861L324.539 64.5101ZM355.278 81.9581V73.2341L364.002 81.9581H355.278ZM346.554 55.7861L337.83 47.062H346.554V55.7861ZM337.83 81.9581V55.7861H346.554L355.278 64.5101V55.7861L364.002 47.062V73.2341H355.278L346.554 64.5101V73.2341L337.83 81.9581ZM368.568 73.2341V55.7861H377.292V73.2341H368.568ZM368.568 81.9581L377.292 73.2341H386.016V55.7861H377.292L368.568 47.062H386.016L394.74 55.7861V73.2341L386.016 81.9581H368.568Z" fill="white"/>
    <circle cx="79.445" cy="66.0247" r="22.882" stroke="#00FFFF" stroke-width="4.64273"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M64.5054 45.3346C63.7147 43.6624 61.5151 43.2642 60.5896 44.8657C58.6134 48.2856 58.2932 52.587 60.1094 56.4281C62.0536 60.5399 65.959 63.0944 70.1795 63.5024C71.2849 63.6092 72.323 64.199 72.7977 65.203L84.0138 88.9243C85.1308 91.2867 87.9514 92.2963 90.3138 91.1793C92.6762 90.0623 93.6858 87.2417 92.5688 84.8793L81.3527 61.158C80.878 60.154 81.0809 58.9775 81.6997 58.0553C84.0627 54.5345 84.5667 49.8951 82.6225 45.7833C80.8063 41.9423 77.2789 39.4603 73.3818 38.8174C71.5568 38.5163 70.4687 40.4691 71.2594 42.1413L74.2107 48.3832C75.0925 50.2482 74.2955 52.475 72.4304 53.3568C70.5654 54.2387 68.3386 53.4417 67.4568 51.5766L64.5054 45.3346Z" fill="white"/>
    <path d="M84.4858 84.8854L89.4797 82.2381L90.9332 85.3122C91.5997 86.7218 90.9973 88.4047 89.5878 89.0712C88.1782 89.7377 86.4952 89.1353 85.8288 87.7257L84.4858 84.8854ZM79.7172 61.591L87.3239 77.6786L82.3479 80.364L74.6128 64.0046C73.7869 62.2579 72.0636 61.3759 70.4529 61.2202C66.8736 60.8743 63.5697 58.7094 61.9244 55.2297C60.3872 51.9788 60.6556 48.3385 62.3317 45.4379C62.3528 45.4015 62.3686 45.3841 62.3754 45.3775C62.3756 45.3773 62.3759 45.377 62.3761 45.3768C62.383 45.3763 62.3971 45.3761 62.4199 45.3794C62.5331 45.3954 62.742 45.4972 62.8699 45.7677L65.8213 52.0098C67.1537 54.8277 70.5181 56.0319 73.336 54.6996C76.1539 53.3672 77.3581 50.0028 76.0258 47.1849L73.0744 40.9429C72.9465 40.6725 73.0004 40.4464 73.0598 40.3487C73.0718 40.329 73.0809 40.3183 73.0856 40.3133C73.0859 40.3132 73.0863 40.3132 73.0866 40.3132C73.096 40.3121 73.1195 40.3109 73.161 40.3177L73.2689 39.6633L73.161 40.3177C76.4663 40.863 79.4499 42.9656 80.9869 46.2164C82.6322 49.6961 82.2089 53.6233 80.2049 56.6092C79.3032 57.9528 78.8913 59.8444 79.7172 61.591ZM66.3204 44.1362C65.6579 42.7352 64.3721 41.8012 62.9557 41.6004C61.4792 41.391 59.9081 42.0035 59.027 43.5282C56.7508 47.4673 56.3786 52.4298 58.4739 56.8612C60.7171 61.6055 65.2242 64.5494 70.0857 65.0193C70.6802 65.0768 71.0366 65.3704 71.1622 65.6361L82.3783 89.3572C83.9458 92.6725 87.904 94.0892 91.2193 92.5217C94.5345 90.9542 95.9513 86.9959 94.3837 83.6807L83.1677 59.9595C83.0421 59.6939 83.0413 59.232 83.3741 58.7361C86.0959 54.6806 86.6806 49.3291 84.4375 44.5849C82.3422 40.1537 78.2709 37.2923 73.7822 36.5518C72.0447 36.2652 70.5743 37.0908 69.7992 38.3648C69.0556 39.5869 68.9614 41.1734 69.6239 42.5744L72.5753 48.8164C73.0066 49.7286 72.6167 50.8177 71.7045 51.2491C70.7923 51.6804 69.7032 51.2905 69.2718 50.3783L66.3204 44.1362Z" fill="#00FFFF" stroke="#1E1E1E" stroke-width="1.32649"/>
    </g>
    <defs>
    <filter id="filter0_f_147_95" x="-51.9203" y="-70.3304" width="552.823" height="270.316" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
    <feGaussianBlur stdDeviation="53.081" result="effect1_foregroundBlur_147_95"/>
    </filter>
    </defs>
    </svg>
    
<div class="dual-nav-container">
    <div class="navbar">
        <div class="navitems">
            <div class="navitem" style="padding-left: 1vw; position: relative;">
                <a href="/city" style="margin-left: 1.3vw;">LANDMARKS</a>
                <div class="navbarkachoda"></div>
            </div>
            <div class="navitem">
                <a href="/pass">BUY</a>
            </div>
            <div class="navitem">
                <a href="/solution">SOLUTION</a>
            </div>
            <div class="navitem">
                <a href="/help">HELP</a>
            </div>
            <div class="navitem">
                <a href="/login">LOGIN</a>
            </div>
        </div>
    </div>
    <div class="navbar nav-2">
        <div class="navitems">
            <div class="navitem" style="padding-left: 1vw; position: relative;">
                <a href="/city" style="margin-left: 1.3vw;">LANDMARKS</a>
                <div class="navbarkachoda"></div>
            </div>
            <div class="navitem">
                <a href="/pass">BUY</a>
            </div>
            <div class="navitem">
                <a href="/solution">SOLUTION</a>
            </div>
            <div class="navitem">
                <a href="/help">HELP</a>
            </div>
            <div class="navitem">
                <a href="/login">LOGIN</a>
            </div>
        </div>
    </div>
</div>