<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="left">
        <div class="answerContainer" id="answerContainer">
            
        </div>
        <div class="inputContainer">
            <input placeholder="Enter your query:" id="query" autocomplete="off">
        </div>
    </div>

    <script>
        window.addEventListener('mousemove', (e) => {
            document.getElementById('cursor').style.top = `${e.clientY - 10}px`
            document.getElementById('cursor').style.left = `${e.clientX - 10}px`
        })
        window.addEventListener('keyup', (e) => {
            if (e.keyCode == 13) {
                const finalQuestion = document.getElementById('query').value
                var myQuestionContainer = document.createElement('div')
                var myQuestion = document.createElement('div')
                myQuestionContainer.className = 'myQuestionContainer'
                myQuestion.className = 'myQuestion'
                myQuestion.innerHTML = document.getElementById('query').value
                myQuestionContainer.appendChild(myQuestion)
                document.getElementById('answerContainer').appendChild(myQuestionContainer)
                document.getElementById('query').value = ''
                document.getElementById('answerContainer').scrollTop = document.getElementById('answerContainer').scrollHeight
                askTheQuestion(`Your name is Pramesh Chitrakar. You live in the year 3142, amidst the vibrant cityscape of Navi Mumbai stands as a beacon of advanced technology and innovation. Its skyline is dominated by towering skyscrapers adorned with neon lights, and sprawling digital billboards paint the urban landscape with advertisements of tomorrow. You are a skilled hacker and cybernetically enhanced vigilante, navigates the city's neon-lit streets and high-tech corridors to uncover the truth behind a series of cyberpsychosis incidents plaguing the population. Your task is to document the city of Navi Mumbai. Showcase its landmarks, districts, and the solution to cyberpsychosis, brain implants, brain dance therapy and usage of chemical cocktails. Include profiles and stories that shed light on your journey. Based on this information, pretending you are Pramesh Chitrakar, answer this question in not more than 60 words, only answering what is asked: ${finalQuestion}`)
                    .then(response => {
                        var yourAnswerContainer= document.createElement('div')
                        var yourAnswer = document.createElement('div')
                        yourAnswerContainer.className = 'yourAnswerContainer'
                        yourAnswer.className = 'yourAnswer'
                        yourAnswer.innerHTML = response
                        yourAnswerContainer.appendChild(yourAnswer)
                        document.getElementById('answerContainer').appendChild(yourAnswerContainer)
                        document.getElementById('answerContainer').scrollTop = document.getElementById('answerContainer').scrollHeight
                    }).catch(err => {
                        var yourAnswerContainer= document.createElement('div')
                        var yourAnswer = document.createElement('div')
                        yourAnswerContainer.className = 'yourAnswerContainer'
                        yourAnswer.className = 'yourAnswer'
                        yourAnswer.innerHTML = "Oops! An error occured. Please try again later."
                        yourAnswerContainer.appendChild(yourAnswer)
                        document.getElementById('answerContainer').appendChild(yourAnswerContainer)
                        document.getElementById('answerContainer').scrollTop = document.getElementById('answerContainer').scrollHeight
                    })  
            }
        })
        const googleAPIKey = "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-pro-latest:generateContent?key=AIzaSyBPwy19Oy_lEAklRAN0zV_G8nDTswdEqcI"
        function askTheQuestion(prompt) {
            return new Promise((resolve, reject) => {
                fetch(googleAPIKey, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        "contents": [{
                            "parts": [{
                                "text": prompt
                            }]}
                        ]})
                })
                .then(rawResponse => {
                    if (!rawResponse.ok) {
                        console.log('Network response was not ok');
                    }
                    return rawResponse.json();
                })
                .then(content => {
                    console.log(content);
                    if (content.candidates[0].finishReason == "MAX_TOKENS") {
                        text.innerText = "The service is unavailable right now. Please try again after a minute or so.";
                    }
                    resolve(content.candidates[0].content.parts[0].text);
                })
                .catch(error => {
                    console.error('There was a problem with the fetch operation:', error);
                    reject(error);
                });
            });
        }
    </script>
</body>
</html>