<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://media.discordapp.net/attachments/1175006936194883635/1178349781102379028/image.png?ex=6575d2c0&is=65635dc0&hm=58fd4042565443e2cccc43fc06369caa8a5294ec0905071aaeb89a35f5909180&=&format=webp&width=465&height=465" type="image/png">
    <title>Login</title>
</head>
<body>
    <img src="../image.png" class="yekyah" alt="">
    <%- include('./components/navbar') %>
    <div class="something">
        <form action="" method='POST'>
            <svg width="799" height="142" viewBox="0 0 799 142" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.5 66.5001V141H798V23.0001H40.5L0.5 66.5001Z" fill="#08040F" stroke="#00FFFF"/>
                <path d="M325.974 104.5H298.609V60.272H306.375V97.1041H325.974V104.5ZM367.796 93.9977C367.796 95.6249 367.402 97.0301 366.613 98.2135C366.021 99.0024 365.134 99.9885 363.95 101.172C362.816 102.355 361.904 103.144 361.214 103.539C359.784 104.426 358.256 104.87 356.628 104.87H345.387C343.759 104.87 342.231 104.426 340.801 103.539C340.111 103.144 339.149 102.355 337.917 101.172C336.733 99.9392 335.895 98.9531 335.402 98.2135C334.613 97.0301 334.219 95.6249 334.219 93.9977V70.8483C334.219 69.2211 334.613 67.8159 335.402 66.6325C335.895 65.8929 336.733 64.9315 337.917 63.7481C339.149 62.5154 340.111 61.7019 340.801 61.3074C342.231 60.4199 343.759 59.9761 345.387 59.9761H356.628C358.256 59.9761 359.784 60.4199 361.214 61.3074C361.904 61.7019 362.816 62.4908 363.95 63.6741C365.134 64.8575 366.021 65.8436 366.613 66.6325C367.402 67.8159 367.796 69.2211 367.796 70.8483V93.9977ZM341.984 71.0701V93.9238C341.984 94.0717 342.009 94.1703 342.058 94.2196C343.044 95.6988 344.129 96.7589 345.313 97.3999C345.411 97.4492 345.534 97.4739 345.682 97.4739H356.333C356.481 97.4739 356.604 97.4492 356.702 97.3999C357.886 96.7589 358.97 95.6988 359.957 94.2196L360.031 93.9238V71.0701C360.031 70.8729 360.006 70.7496 359.957 70.7003C358.921 69.1718 357.836 68.0871 356.702 67.4461C356.604 67.3968 356.481 67.3721 356.333 67.3721H345.682C345.485 67.3721 345.362 67.3968 345.313 67.4461C344.178 68.0871 343.094 69.1718 342.058 70.7003L341.984 71.0701ZM385.463 70.8483V93.9977C385.463 94.3922 385.857 94.9839 386.646 95.7728C387.485 96.5124 388.224 97.0548 388.865 97.3999H388.939C389.038 97.4492 389.136 97.4739 389.235 97.4739H399.294L399.663 97.3999C400.255 97.0548 400.97 96.4631 401.808 95.6249C402.646 94.7866 403.066 94.1703 403.066 93.7759V86.6017H393.525V79.2057H410.831V94.1457C411.176 97.3999 411.645 100.851 412.237 104.5H404.619L404.249 102.725C402.227 104.155 400.699 104.87 399.663 104.87H388.865C387.238 104.87 385.71 104.426 384.28 103.539C383.54 103.095 382.579 102.306 381.395 101.172C380.212 99.9885 379.374 99.0517 378.881 98.3614C378.092 97.178 377.697 95.7481 377.697 94.0717V70.7003C377.697 69.0732 378.092 67.668 378.881 66.4846C379.374 65.745 380.212 64.7835 381.395 63.6002C382.628 62.3675 383.589 61.554 384.28 61.1595C385.611 60.3213 387.139 59.9022 388.865 59.9022H399.663C403.066 59.9022 406.196 61.9484 409.056 66.0409C409.796 67.0763 410.314 67.9392 410.609 68.6295L403.139 70.7743C402.055 69.2951 400.896 68.161 399.663 67.3721C399.614 67.3228 399.491 67.2982 399.294 67.2982H389.235L388.865 67.3721C387.534 68.1117 386.425 69.1718 385.537 70.5524L385.463 70.8483ZM436.914 90.0039H420.495V83.0517H436.914V90.0039ZM453.284 104.5H445.518V60.272H453.284V104.5ZM495.221 104.5H487.011L471.702 75.1379V104.5H463.936V60.272H472.293L487.455 90.0039V60.272H495.221V104.5Z" fill="white"/>
                <path d="M85.2835 4.32469L84.4048 3.44601H83.1622H71.6757H64.4331L69.5544 8.56733L83.6493 22.6622L68.8787 37.4328L63.7574 42.5541H71H82.4865H83.7291L84.6078 41.6754L101.5 24.7835L103.621 22.6622L101.5 20.5409L85.2835 4.32469Z" fill="white" stroke="black" stroke-width="6"/>
                <path d="M113.391 4.32469L112.512 3.44601H111.27H99.7831H92.5405L97.6618 8.56733L111.757 22.6622L96.9861 37.4328L91.8648 42.5541H99.1074H110.459H111.694L112.572 41.6839L129.599 24.792L131.737 22.6707L129.607 20.5409L113.391 4.32469Z" fill="white" stroke="black" stroke-width="6"/>
                <path d="M141.364 4.32469L140.485 3.44601H139.243H127.756H120.514L125.635 8.56733L139.73 22.6622L124.959 37.4328L119.838 42.5541H127.081H138.567H139.81L140.688 41.6754L157.58 24.7835L159.702 22.6622L157.58 20.5409L141.364 4.32469Z" fill="white" stroke="black" stroke-width="6"/>
                <path d="M169.476 4.32469L168.598 3.44601H167.355H155.868H148.626L153.747 8.56733L167.842 22.6622L153.071 37.4328L147.95 42.5541H155.193H166.544H167.78L168.657 41.6839L185.684 24.792L187.822 22.6707L185.692 20.5409L169.476 4.32469Z" fill="white" stroke="black" stroke-width="6"/>
                <path d="M197.862 4.33359L196.982 3.44601H195.732H184.245H177.003L182.124 8.56733L196.219 22.6622L181.448 37.4328L176.327 42.5541H183.57H194.921H196.164L197.042 41.6754L213.934 24.7835L216.047 22.6711L213.943 20.5498L197.862 4.33359Z" fill="white" stroke="black" stroke-width="6"/>
                <path d="M225.825 4.32469L224.946 3.44601H223.704H212.217H204.974L210.096 8.56733L224.191 22.6622L209.42 37.4328L204.299 42.5541H211.541H223.028H224.271L225.149 41.6754L242.041 24.7835L244.162 22.6622L242.041 20.5409L225.825 4.32469Z" fill="white" stroke="black" stroke-width="6"/>
                <path d="M253.942 4.33359L253.062 3.44601H251.811H240.325H233.082L238.204 8.56733L252.299 22.6622L237.528 37.4328L232.407 42.5541H239.649H251.001H252.243L253.122 41.6754L270.014 24.7835L272.126 22.6711L270.023 20.5498L253.942 4.33359Z" fill="white" stroke="black" stroke-width="6"/>
                <path d="M281.906 4.32469L281.027 3.44601H279.785H268.298H261.055L266.177 8.56733L280.272 22.6622L265.501 37.4328L260.38 42.5541H267.622H279.109H280.351L281.23 41.6754L298.122 24.7835L300.243 22.6622L298.122 20.5409L281.906 4.32469Z" fill="white" stroke="black" stroke-width="6"/>
            </svg>                
                
            <div class="input">
                <svg width="801" height="70" viewBox="0 0 801 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 1.00006H800V69.0001H49L3 1.00006Z" fill="black" stroke="white"/>
                    <path d="M0 27.0001V4.00006L44 69.5001H28.5L0 27.0001Z" fill="white"/>
                    </svg>                    
                <input type="text" placeholder="Email:" name="email" autocomplete="off"><br>
            </div>
            <div class="input" style="margin-top: -2vw;">
                <svg width="801" height="70" viewBox="0 0 801 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 1H800V69H49L3 1Z" fill="black" stroke="white"/>
                    <path d="M0 27V4L44 69.5H28.5L0 27Z" fill="white"/>
                    </svg>                                      
                <input type="password" placeholder="Password:" name="password" autocomplete="off"><br>
            </div>
            <div class="submitContainer">
                <p>Don't have an account? <a style="color: #00ffff; text-decoration: none;" href="/register">Create One!</a></p>
                <button type="submit">
                    <svg class="asd" style="position: relative; left:10vw;" width="235" height="47" viewBox="0 0 235 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M234 1.20142H55.8397L100.774 46.2014H234V1.20142Z" fill="#00FFFF"/>
                        <path d="M89.0341 46.2014L44.1002 1.20142H24.2645L69.1984 46.2014H89.0341Z" fill="#00FFFF"/>
                        <path d="M58.0782 46.2014L13.1443 1.20142H1L45.9339 46.2014H58.0782Z" fill="#00FFFF"/>
                        <path d="M234 1.20142H55.8397L100.774 46.2014H234V1.20142Z" stroke="#00FFFF" stroke-width="0.805611"/>
                        <path d="M89.0341 46.2014L44.1002 1.20142H24.2645L69.1984 46.2014H89.0341Z" stroke="#00FFFF" stroke-width="0.805611"/>
                        <path d="M58.0782 46.2014L13.1443 1.20142H1L45.9339 46.2014H58.0782Z" stroke="#00FFFF" stroke-width="0.805611"/>
                        <path d="M117.991 27.2004C117.847 27.531 117.696 27.8041 117.538 28.0197C116.647 29.2127 115.734 29.8092 114.8 29.8092H112.105C111.631 29.8092 111.185 29.6799 110.768 29.4211C110.553 29.2918 110.272 29.0546 109.927 28.7096C109.582 28.3646 109.338 28.0915 109.194 27.8903C108.964 27.5453 108.849 27.1357 108.849 26.6613V19.8697C108.849 19.4097 108.964 19.0072 109.194 18.6622C109.338 18.4466 109.582 18.1663 109.927 17.8214C110.287 17.462 110.567 17.2249 110.768 17.1099C111.228 16.8511 111.674 16.7218 112.105 16.7218H114.8C115.72 16.7218 116.633 17.3183 117.538 18.5113C117.625 18.6263 117.775 18.8779 117.991 19.266L115.792 19.8912C115.361 19.3594 115.037 19.0288 114.822 18.8994C114.807 18.885 114.778 18.8779 114.735 18.8779H112.191L112.105 18.8994C111.731 19.1007 111.408 19.4169 111.135 19.8481C111.12 19.8768 111.113 19.9559 111.113 20.0853V26.6398C111.113 26.7548 111.228 26.9273 111.458 27.1572C111.702 27.3728 111.918 27.531 112.105 27.6316C112.119 27.6459 112.17 27.6531 112.256 27.6531H114.714C114.757 27.6531 114.793 27.6459 114.822 27.6316C114.951 27.5741 115.095 27.4591 115.253 27.2866C115.425 27.1141 115.562 26.956 115.662 26.8123L115.792 26.6182L117.991 27.2004ZM132.302 26.6398C132.302 27.1141 132.187 27.5238 131.957 27.8687C131.784 28.0987 131.526 28.3862 131.181 28.7312C130.85 29.0762 130.584 29.3061 130.383 29.4211C129.966 29.6799 129.52 29.8092 129.046 29.8092H125.769C125.294 29.8092 124.849 29.6799 124.432 29.4211C124.231 29.3061 123.95 29.0762 123.591 28.7312C123.246 28.3718 123.002 28.0844 122.858 27.8687C122.628 27.5238 122.513 27.1141 122.513 26.6398V19.8912C122.513 19.4169 122.628 19.0072 122.858 18.6622C123.002 18.4466 123.246 18.1663 123.591 17.8214C123.95 17.462 124.231 17.2249 124.432 17.1099C124.849 16.8511 125.294 16.7218 125.769 16.7218H129.046C129.52 16.7218 129.966 16.8511 130.383 17.1099C130.584 17.2249 130.85 17.4548 131.181 17.7998C131.526 18.1448 131.784 18.4323 131.957 18.6622C132.187 19.0072 132.302 19.4169 132.302 19.8912V26.6398ZM124.777 19.9559V26.6182C124.777 26.6613 124.784 26.6901 124.799 26.7045C125.086 27.1357 125.402 27.4447 125.747 27.6316C125.776 27.6459 125.812 27.6531 125.855 27.6531H128.96C129.003 27.6531 129.039 27.6459 129.068 27.6316C129.413 27.4447 129.729 27.1357 130.016 26.7045L130.038 26.6182V19.9559C130.038 19.8984 130.031 19.8625 130.016 19.8481C129.714 19.4025 129.398 19.0863 129.068 18.8994C129.039 18.885 129.003 18.8779 128.96 18.8779H125.855C125.798 18.8779 125.762 18.885 125.747 18.8994C125.417 19.0863 125.1 19.4025 124.799 19.8481L124.777 19.9559ZM146.033 29.7014H143.64L139.177 21.1417V29.7014H136.913V16.808H139.349L143.769 25.4755V16.808H146.033V29.7014ZM159.431 18.9641H155.938V29.7014H153.674V18.9641H150.181V16.808H159.431V18.9641ZM165.724 29.7014H163.461V16.808H165.724V29.7014ZM179.675 29.7014H177.282L172.818 21.1417V29.7014H170.555V16.808H172.991L177.411 25.4755V16.808H179.675V29.7014ZM191.283 26.6182V16.808H193.547V26.6398C193.547 27.1141 193.432 27.5238 193.202 27.8687C193.044 28.0844 192.792 28.3718 192.447 28.7312C192.117 29.0762 191.843 29.3061 191.628 29.4211C191.211 29.6799 190.773 29.8092 190.313 29.8092H187.574C187.1 29.8092 186.654 29.6799 186.238 29.4211C186.036 29.3061 185.756 29.0762 185.397 28.7312C185.052 28.3718 184.807 28.0844 184.664 27.8687C184.434 27.5238 184.319 27.1141 184.319 26.6398V16.808H186.583V26.5967C186.583 26.6541 186.59 26.6901 186.604 26.7045C186.906 27.15 187.222 27.4591 187.553 27.6316L187.661 27.6531H190.226C190.269 27.6531 190.305 27.6459 190.334 27.6316C190.665 27.4591 190.974 27.15 191.261 26.7045L191.283 26.6182ZM206.304 29.7014H198.197V16.808H206.304V18.9641H200.461V22.2198H205.894V24.3759H200.461V27.5453H206.304V29.7014Z" fill="black"/>
                    </svg>
                    <svg width="235" height="47" viewBox="0 0 235 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M234 1.20142H55.8397L100.774 46.2014H234V1.20142Z" fill="#00FFFF"/>
                        <path d="M89.0341 46.2014L44.1002 1.20142H24.2645L69.1984 46.2014H89.0341Z" fill="#00FFFF"/>
                        <path d="M58.0782 46.2014L13.1443 1.20142H1L45.9339 46.2014H58.0782Z" fill="#00FFFF"/>
                        <path d="M234 1.20142H55.8397L100.774 46.2014H234V1.20142Z" stroke="#00FFFF" stroke-width="0.805611"/>
                        <path d="M89.0341 46.2014L44.1002 1.20142H24.2645L69.1984 46.2014H89.0341Z" stroke="#00FFFF" stroke-width="0.805611"/>
                        <path d="M58.0782 46.2014L13.1443 1.20142H1L45.9339 46.2014H58.0782Z" stroke="#00FFFF" stroke-width="0.805611"/>
                        <path d="M117.991 27.2004C117.847 27.531 117.696 27.8041 117.538 28.0197C116.647 29.2127 115.734 29.8092 114.8 29.8092H112.105C111.631 29.8092 111.185 29.6799 110.768 29.4211C110.553 29.2918 110.272 29.0546 109.927 28.7096C109.582 28.3646 109.338 28.0915 109.194 27.8903C108.964 27.5453 108.849 27.1357 108.849 26.6613V19.8697C108.849 19.4097 108.964 19.0072 109.194 18.6622C109.338 18.4466 109.582 18.1663 109.927 17.8214C110.287 17.462 110.567 17.2249 110.768 17.1099C111.228 16.8511 111.674 16.7218 112.105 16.7218H114.8C115.72 16.7218 116.633 17.3183 117.538 18.5113C117.625 18.6263 117.775 18.8779 117.991 19.266L115.792 19.8912C115.361 19.3594 115.037 19.0288 114.822 18.8994C114.807 18.885 114.778 18.8779 114.735 18.8779H112.191L112.105 18.8994C111.731 19.1007 111.408 19.4169 111.135 19.8481C111.12 19.8768 111.113 19.9559 111.113 20.0853V26.6398C111.113 26.7548 111.228 26.9273 111.458 27.1572C111.702 27.3728 111.918 27.531 112.105 27.6316C112.119 27.6459 112.17 27.6531 112.256 27.6531H114.714C114.757 27.6531 114.793 27.6459 114.822 27.6316C114.951 27.5741 115.095 27.4591 115.253 27.2866C115.425 27.1141 115.562 26.956 115.662 26.8123L115.792 26.6182L117.991 27.2004ZM132.302 26.6398C132.302 27.1141 132.187 27.5238 131.957 27.8687C131.784 28.0987 131.526 28.3862 131.181 28.7312C130.85 29.0762 130.584 29.3061 130.383 29.4211C129.966 29.6799 129.52 29.8092 129.046 29.8092H125.769C125.294 29.8092 124.849 29.6799 124.432 29.4211C124.231 29.3061 123.95 29.0762 123.591 28.7312C123.246 28.3718 123.002 28.0844 122.858 27.8687C122.628 27.5238 122.513 27.1141 122.513 26.6398V19.8912C122.513 19.4169 122.628 19.0072 122.858 18.6622C123.002 18.4466 123.246 18.1663 123.591 17.8214C123.95 17.462 124.231 17.2249 124.432 17.1099C124.849 16.8511 125.294 16.7218 125.769 16.7218H129.046C129.52 16.7218 129.966 16.8511 130.383 17.1099C130.584 17.2249 130.85 17.4548 131.181 17.7998C131.526 18.1448 131.784 18.4323 131.957 18.6622C132.187 19.0072 132.302 19.4169 132.302 19.8912V26.6398ZM124.777 19.9559V26.6182C124.777 26.6613 124.784 26.6901 124.799 26.7045C125.086 27.1357 125.402 27.4447 125.747 27.6316C125.776 27.6459 125.812 27.6531 125.855 27.6531H128.96C129.003 27.6531 129.039 27.6459 129.068 27.6316C129.413 27.4447 129.729 27.1357 130.016 26.7045L130.038 26.6182V19.9559C130.038 19.8984 130.031 19.8625 130.016 19.8481C129.714 19.4025 129.398 19.0863 129.068 18.8994C129.039 18.885 129.003 18.8779 128.96 18.8779H125.855C125.798 18.8779 125.762 18.885 125.747 18.8994C125.417 19.0863 125.1 19.4025 124.799 19.8481L124.777 19.9559ZM146.033 29.7014H143.64L139.177 21.1417V29.7014H136.913V16.808H139.349L143.769 25.4755V16.808H146.033V29.7014ZM159.431 18.9641H155.938V29.7014H153.674V18.9641H150.181V16.808H159.431V18.9641ZM165.724 29.7014H163.461V16.808H165.724V29.7014ZM179.675 29.7014H177.282L172.818 21.1417V29.7014H170.555V16.808H172.991L177.411 25.4755V16.808H179.675V29.7014ZM191.283 26.6182V16.808H193.547V26.6398C193.547 27.1141 193.432 27.5238 193.202 27.8687C193.044 28.0844 192.792 28.3718 192.447 28.7312C192.117 29.0762 191.843 29.3061 191.628 29.4211C191.211 29.6799 190.773 29.8092 190.313 29.8092H187.574C187.1 29.8092 186.654 29.6799 186.238 29.4211C186.036 29.3061 185.756 29.0762 185.397 28.7312C185.052 28.3718 184.807 28.0844 184.664 27.8687C184.434 27.5238 184.319 27.1141 184.319 26.6398V16.808H186.583V26.5967C186.583 26.6541 186.59 26.6901 186.604 26.7045C186.906 27.15 187.222 27.4591 187.553 27.6316L187.661 27.6531H190.226C190.269 27.6531 190.305 27.6459 190.334 27.6316C190.665 27.4591 190.974 27.15 191.261 26.7045L191.283 26.6182ZM206.304 29.7014H198.197V16.808H206.304V18.9641H200.461V22.2198H205.894V24.3759H200.461V27.5453H206.304V29.7014Z" fill="black"/>
                    </svg>
                </button>
            </div>
        </form>
    </div>
</body>
<style>
    * { 
        height: fit-content;
    }
    body {
        height: 100vh;
        width: 100%;
        background-color: #050505;
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    @font-face 
    {
        font-family:BlenderPro;
        font-style:normal;
        font-weight:400;
        src:url('/fonts/BlenderPro/Blender_Pro_Medium.ttf') format("woff2");
    }
    @font-face 
    {
        font-family:Sentex;
        font-style:normal;
        font-weight:400;
        src:url('/fonts/Sentex/Sentex-Regular.ttf');
    }
    .bottom-vector {
        position: absolute;
        bottom: 2vw;
        right: 1vw;
    }
    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        align-self: center;
        gap: 1vw;
    }
    .lines {
        align-self: flex-start;
        margin-left: 2vw;
        width: 11.719vw;
    }
    .login-text {
        width: 41.667vw;
    }
    .input {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1vw;
    }
    .input > input {
        position: absolute;
        top: 0.8vw;
        left: 3vw;
        width: 48.6vw;
        height: 3vw;
        background: transparent;
        border: none;
        outline: none;
        z-index: 5;
        color: #FFF;
        font-family: BlenderPro;
        font-size: 1.2vw;
    }
    input::placeholder {
        color: #7E7E7E;
        font-family: BlenderPro;
        font-size: 1.4vw;
    }
    .input-svg {
        width: 41.667vw;
    }
    .something {
        align-self: center;
        justify-content: center;
        display: flex;
        height: 100%;
    }
    button {
        background: transparent;
        outline: none;
        border: none;
        align-self: flex-end;
        cursor: pointer;
    }
    button > svg {
        width: 10.573vw;
    }
    .error {
        color: #FF0000;
        font-family: BlenderPro;
    }
    .yekyah{
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        margin-top: 4vw;
    }
    .asd{
        filter: blur(4vw);
    }
    .submitContainer {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin-top: -2vw;
        margin-right: -0.5vw;
    }
    .submitContainer p {
        margin: 0px;
        margin-left: 2vw;
        font-size: 1.1vw;
    }
</style>
</html>