<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>oye</title>
</head>
<body>
    <form action="/pass" method="post">
        <button>BUY PASS 🤑🤑</button>
    </form>
</body>
</html>